/*
Error: Invalid CSS after "$tr-time:    0.2s": expected selector or at-rule, was "@import 'partia..."
        on line 5 of style.scss

1: $bg:         '../img/beach_bg.jpg';
2: $font-stack: 'Open Sans', sans-serif, serif;
3: $tr-time:    0.2s
4: 
5: @import 'partials/mixins';
6: 
7: body {
8:   left:   0;
9:   margin: 0;
10:   overflow: hidden;

Backtrace:
style.scss:5
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/scss/parser.rb:43:in `parse'
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:412:in `run'
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/usr/local/share/gems/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/share/gems/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$tr-time:    0.2s\": expected selector or at-rule, was \"@import 'partia...\"\A         on line 5 of style.scss\A \A 1: $bg:         '../img/beach_bg.jpg';\A 2: $font-stack: 'Open Sans', sans-serif, serif;\A 3: $tr-time:    0.2s\A 4: \A 5: @import 'partials/mixins';\A 6: \A 7: body {\A 8:   left:   0;\A 9:   margin: 0;\A 10:   overflow: hidden;"; }
