$bg: '../img/beach_bg.jpg';

/* transition mixin */
@mixin transition($time) {
  -webkit-transition: all $time;
     -moz-transition: all $time;
          transition: all $time;
}

/* border-radius mixin */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* background-size mixin */
@mixin background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}

body {
  position: relative;
  left:   0;
  margin: 0;
  overflow: hidden;
}

/* menu styles */
.menu-icon {
  cursor: pointer;
}

.menu-bar,
.menu-bar::before,
.menu-bar::after {
  height: 0.3em;
  width:  2em;
  background-color: white;
  border-style: none;
  @include border-radius(5px);
}

.menu-bar::before {
  top: -0.5em;
}

.menu-bar::after {
  top: 0.5em;
}

.menu {
  height: 100%;
  width: 200px;
  position: fixed;
  left: -200px;
  background-color: #888;
  ul {
    a {
      color: darken(white, 10%);
      @include transition(0.2s);
    }
  }
}

.close-icon::before,
.close-icon::after {
  background-color: red;
}

.main-body {
  height: 100%;
  background-image: url($bg);
  @include background-size(cover);
}

.header,
.link {
  text-align: center;
  font-family: 'Open Sans', sans-serif, serif;
}

.link {
  color: darken(white, 20%);
  text-decoration: none;
  @include transition(0.2s);
}

.link:hover {
  color: darken(white, 25%);
}
