/*$blue: #188abc;*/
hmtl {
  width: 100%; }

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  /*background-color: $black;*/
  /*background-color: $background-color;*/ }

.navbar {
  display: inline-block;
  position: fixed;
  top: 0px;
  text-align: center;
  width: 98%;
  background-color: #101010;
  padding: 1em 1% 1em 1%;
  margin-left: auto;
  margin-right: auto;
  /*border-bottom: 5px solid $green;*/
  /*border-bottom: 5px solid $lightgreen;*/
  border-bottom: 5px solid #38bc18; }
  .navbar p {
    display: inline;
    font-family: 'Poiret One', 'Helvetica', sans-serif, serif;
    font-size: 22pt;
    /*color: $green;*/
    /*color: $lightgreen;*/
    color: white;
    margin: 0px 10px 0px 10px;
    -moz-transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    transition: All 0.2s ease; }
  .navbar p:hover {
    cursor: pointer;
    /*color: darken($green, 20%);*/
    color: #1d620c; }

.backToTop {
  display: none; }

.visible {
  display: inline; }

#header {
  display: block;
  margin-top: 0.5em;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', 'Helvetica', sans-serif, serif;
  font-size: 100pt;
  /*color: $red;*/
  color: #101010;
  -moz-transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  transition: All 0.2s ease; }
  #header .underline {
    display: inline;
    border-bottom: 5px solid transparent;
    -moz-transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    transition: All 0.2s ease; }

#header:hover .underline {
  /*color: darken($red, 20%);
  border-bottom: 5px solid darken($red, 20%);*/
  color: black;
  border-bottom: 5px solid black; }

#subheader {
  display: block;
  text-align: center;
  font-family: 'Amatic SC', 'Helvetica', sans-serif, serif;
  font-size: 22pt;
  color: #bc1838; }

#testimonials {
  background-color: orange; }

.testimonials-container {
  text-align: center;
  font-family: 'Poiret One', 'Helvetica', sans-serif, serif;
  padding: 1.2em;
  width: 100%; }
  .testimonials-container h1 {
    font-size: 32pt;
    color: #38bc18; }
  .testimonials-container div h3 {
    font-size: 22pt;
    color: #101010; }

.parallax-window {
  padding: 4em 0px 4em 0px;
  background: transparent; }

.github-link {
  display: inline-block;
  background-color: #bc1838;
  color: white;
  font-family: 'Open Sans', 'Helvetica', sans-serif, serif;
  font-size: 18pt;
  text-decoration: none;
  float: left;
  margin: 1.5em;
  padding: 1.5em;
  border-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  transition: All 0.2s ease; }

.github-link:hover {
  color: gray; }

.github-link:active {
  position: relative;
  top: 1px;
  background-color: #620c1d; }

.gamejolt-link {
  display: inline-block;
  background-color: #1838bc;
  color: white;
  font-family: 'Open Sans', 'Helvetica', sans-serif, serif;
  font-size: 18pt;
  text-decoration: none;
  float: initial;
  margin: 1.5em;
  padding: 1.5em;
  border-style: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  transition: All 0.2s ease; }

.gamejolt-link:hover {
  color: gray; }

.gamejolt-link:active {
  position: relative;
  top: 1px;
  background-color: #0c1d62; }

.content-div {
  /*position: absolute;*/
  /*top: 2000px;*/
  padding: 1%;
  width: 98%;
  border-style: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.content-description {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2em 4em 2em 4em;
  padding: 2em;
  border-style: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  transition: All 0.2s ease; }
  .content-description #description {
    font-family: 'Poiret One', 'Helvetica', sans-serif, serif;
    font-size: 14pt;
    font-weight: bold; }

.main-content:hover {
  background-color: white; }

/*# sourceMappingURL=style.css.map */
